<ngb-accordion>
	<ngb-panel title="Panel One">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
			aute.
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Panel Two">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
			aute.
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Panel Three">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
			aute.
		</ng-template>
	</ngb-panel>
</ngb-accordion>
